:root{
    --blanco: #FFFFFF;
    --Azul_ft: #009CB8;
    --Naranga: #FFCDAF;
    --Azul_cl: #C5F6FF;
    --Amarillo: #FFF0B4;
    --Naranga_ft: #F66A14;

}

html{
    font-size: 1rem;
    background: var(--gris_claro);
}

body{
    font-family: "Noto Sans", sans-serif;
  }



/*///////////////////////////////////////////////////////////*/


.box1{
background-color: var(--Azul_ft);
display: flex;
padding: .5rem;
}

.titulo1{
    padding: .5rem;
    color: var(--blanco);
}

.borrar svg{
    background-color: var(--blanco);
    padding: .1rem .7rem .1rem .7rem;
    margin-top: 1.4rem;
    margin-left: 10rem;
    border-radius: .6rem;
    width: 1.5rem;
}



/*///////////////////////////////////////////////////////////*/



.box2{
    padding: 1rem;
}

.titulo2 h2{
    margin-bottom: -1px;
}

.text1{
    display: flex;
    background-color: var(--Azul_cl);
    border-radius: 1rem;
    padding: 10px;
}
.text1 input{
    margin-left: .5rem;
    width: 5rem;
}

.text1 p{
    text-align: justify;
    margin-left: 1.5rem;
}

/*--------------------------------*/

.text2{
    display: flex;
    background-color: var(--Naranga);
    border-radius: 1rem;
    padding: 10px;
}
.text2 input{
    margin-left: .5rem;
    width: 5rem;
}

.text2 p{
    text-align: justify;
    margin-left: 1.5rem;
}

/*--------------------------------*/

.text3{
    display: flex;
    background-color: var(--Amarillo);
    border-radius: 1rem;
    padding: 10px;
}
.text3 input{
    margin-left: .5rem;
    width: 5rem;
}

.text3 p{
    text-align: justify;
    margin-left: 1.5rem;
}


/*///////////////////////////////////////////////////////////*/


.mas SVG{
    background-color: var(--Naranga_ft);
    width: 40px;
    margin-left: 20rem;
    padding: 10px 12px 10px 12px;
    border-radius: 1rem;
}